<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <base href="/">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- vendor javascripts -->

    <!-- vendor javascripts -->
</head>
<body>
<div>
    <test></test>
    <greet></greet>
    <my-app>

        <my-app></my-app>
        Loading...</my-app>
</div>

</body>
</html>
