<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <base href="/">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div>
    <my-app>Loading...</my-app>
</div>
<!-- vendor javascripts -->

<!-- vendor javascripts -->
</body>
</html>
